<!DOCTYPE html>
<html>

<head>
    <title>Knihovna</title>
</head>

<body>

    <h1>Knihovna</h1>

    <h2>{{ book.title }}</h2>
    <p>
        {{ book.genre.title }}
    </p>
    <p>
        {% for a in book.authors.all %}
            {{ a.first_name }} {{ a.last_name }},
        {% endfor %}
    </p>

    <a href="/">Zpět na seznam</a>
</body>

</html>