<!DOCTYPE html>
<html>

<head>
    <title>Knihovna</title>
</head>

<body>

    <h1>Knihovna</h1>

    <h2>Naše knihy</h2>
    <ul>
    {% for book in books %}
        <li>
            <a href="{% url 'book_detail' book.id %}">
                {{ book.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</body>

</html>